.title {
  color: #af66aa;
}

.container {
  margin-top: 1.5rem;
}

.order-details img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

.orderlist {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.order-details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}

.order-details > * {
  padding: 0.5rem;
  border: 1px solid #ccc; /* 테두리 추가 */
  border-radius: 5px; /* 둥근 테두리 */
  text-align: center; /* 텍스트 가운데 정렬 */
}

.name,
.delivery,
.date,
.pay {
  display: flex;
  flex-direction: column;
}

.profile {
  margin-top: 1.5rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.product-pay {
  margin: 50px;
}
