html,
body {
  height: 100%;
  /* 전체 페이지 좁게 가운데 정렬하는 코드*/
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* main */
.main {
  display: flex;
  justify-content: center;
  margin: 0px;
  flex: 1;
}

.orderList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem;
}

.listFont {
  margin-bottom: 0;
  font-size: 1.3em;
}

#photo {
  width: 200px;
  margin: 20px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

#photo {
  filter: brightness(1);
}

#photo:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

#productPhoto {
  display: flex;
  justify-content: center;
}

.photoBox {
  margin: 15px;
}

#data-name,
#data-price,
.name {
  color: black;
  font-size: 0.9em;
  pointer-events: none;
}

.dataRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 20px 10px 20px;
  font-weight: bold;
}