<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WineHouse</title>
  <!-- bulma css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <!-- fontawesome icon -->
  <script src="https://kit.fontawesome.com/20edfc9a47.js" crossorigin="anonymous"></script>
  <!-- custom css, js -->
  <link rel="stylesheet" href="list.css">
  <link rel="stylesheet" href="/stylesheets/global.css">
  <script src="list.js" type="module" defer></script>
  <script src="/javascripts/global.js" type="module" defer></script>
</head>

<body>
  <!-- header -->
  <div id="header-container"></div>

  <div class="main">
    <p class="listFont">상품목록</p>
    <!--<div class="orderList">
      <p class="listFont">상품목록</p>
      <div class="productPhoto1" id="productPhoto">
        <div class="photoBox">
          <img src="https://mblogthumb-phinf.pstatic.net/20160414_19/caa_korea_1460622208005wQzu3_JPEG/Duckhorn_Migration_Pinot_Noir_bottle.jpg?type=w800" id="photo">
          <div class="dataBox">
            <div class="dataRow">
              <a class="name" id="text">이름</a>
              <a id="data-name"></a>
            </div>
            <div class="dataRow">
              <a class="name" id="text">가격</a>
              <a id="data-price"></a>
            </div>
          </div>
        </div>

        <div class="photoBox">
          <img src="https://cdn.pixabay.com/photo/2018/01/12/09/45/glass-3077869_1280.jpg" id="photo">
          <div class="dataBox">
            <div class="dataRow">
              <a class="name" id="text">이름</a>
              <a id="data-name"></a>
            </div>
            <div class="dataRow">
              <a class="name" id="text">가격</a>
              <a id="data-price"></a>
            </div>
          </div>
        </div>

        <div class="photoBox">
          <img src="https://cdn.pixabay.com/photo/2018/01/12/09/45/glass-3077869_1280.jpg" id="photo">
          <div class="dataBox">
            <div class="dataRow">
              <a class="name" id="text">이름</a>
              <a id="data-name"></a>
            </div>
            <div class="dataRow">
              <a class="name" id="text">가격</a>
              <a id="data-price"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="productPhoto2" id="productPhoto">
        <div class="photoBox">
          <img src="https://cdn.pixabay.com/photo/2018/01/12/09/45/glass-3077869_1280.jpg" id="photo">
          <div class="dataBox">
            <div class="dataRow">
              <a class="name" id="text">이름</a>
              <a id="data-name"></a>
            </div>
            <div class="dataRow">
              <a class="name" id="text">가격</a>
              <a id="data-price"></a>
            </div>
          </div>
        </div>

        <div class="photoBox">
          <img src="https://cdn.pixabay.com/photo/2018/01/12/09/45/glass-3077869_1280.jpg" id="photo">
          <div class="dataBox">
            <div class="dataRow">
              <a class="name" id="text">이름</a>
              <a id="data-name"></a>
            </div>
            <div class="dataRow">
              <a class="name" id="text">가격</a>
              <a id="data-price"></a>
            </div>
          </div>
        </div>

        <div class="photoBox">
          <img src="https://cdn.pixabay.com/photo/2018/01/12/09/45/glass-3077869_1280.jpg" id="photo">
          <div class="dataBox">
            <div class="dataRow">
              <a class="name" id="text">이름</a>
              <a id="data-name"></a>
            </div>
            <div class="dataRow">
              <a class="name" id="text">가격</a>
              <a id="data-price"></a>
            </div>
          </div>
        </div>
      </div>
    </div>-->
  </div>

  <!-- footer -->
  <div id="footer-container"></div>
</body>

</html>