.columns {
    margin: 0 20px;
  }
  
  .upload-img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .upload-img input {
    margin-left: 100px;
  }
  
  #img-container {
    width: 30%;
    height: auto;
    margin: 10px;
  }