html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* main */
.main {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
}

.box {
  width: 700px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: #af66aa;
  margin: 20px;
  text-align: center;
}

.buttonBox {
  display: flex;
  justify-content: center;
  padding: 30px 0 0 0;
}

.managerLogin {
  display: flex;
  flex-direction: column;
}

.column {
  display: flex;
}

.main1 {
  display: flex;
}
