<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WineHouse</title>
  <!-- bulma css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <!-- fontawesome icon -->
  <script src="https://kit.fontawesome.com/20edfc9a47.js" crossorigin="anonymous"></script>
  <!-- custom css, js -->
  <link rel="stylesheet" href="admin_product.css">
  <link rel="stylesheet" href="/stylesheets/global.css">
  <!-- <script src="admin-product-update.js" type="module" defer></script> -->
  <!-- <script src="/javascripts/global.js" type="module" defer></script> -->
  <script type="text/javascript" src="admin_product.js"></script>
</head>

<body>
  <!-- admin header -->
  <nav class="navbar is-light">
    <div class="navbar-brand">
      <a class="navbar-item" href="/admin_order">
        <p>WINEHOUSE-ADMIN</p>
      </a>
    </div>
  </nav>

  <!-- admin menu -->
  <section class="columns">

    <aside class="column section">
      <p class="menu-label">Administration</p>
      <ul class="menu-list">
        <li>
          <a href="/admin_order">
            <span class="icon"><i class="fa-solid fa-bag-shopping"></i></span> 주문 관리
          </a>
        </li>
        <li>
          <a href="/admin_product" class="is-active">
            <span class="icon"><i class="fa-solid fa-wine-bottle"></i></span> 상품 관리
          </a>
          <ul>
            <li><a href="/admin_add">상품 추가</a></li>
          </ul>
        </li>
        <li>
          <a href="/admin_category">
            <span class="icon"><i class="fa-solid fa-list"></i></span> 카테고리
          </a>
        </li>
      </ul>
    </aside>

    <!--card div-->
    <div class="column is-10">
      <div class="menu">
        <select id="categoryBtn">
          <option disabled selected>카테고리</option>
          <option>레드</option>
          <option>화이트</option>
          <option>스파클링</option>
          <option>로제</option>
        </select>

        <button class="button is-light" id="bottomBtn" onclick="AddBtn()">상품 추가</button>
      </div>

      <div class="section2">
        <div class="card">
          <div class="card-header">
            <p class="card-header-title">이름</p>
          </div>

          <div class="card-content">
            <div class="content">
              <div class="field">
                <div class="imgDiv">
                  <img src="https://cdn.pixabay.com/photo/2018/01/12/09/45/glass-3077869_1280.jpg" id="photo">
                </div>
              </div>

              <div class="field">
                <label class="label">가격</label>
                <p>xxx,xxx원</p>
              </div>

              <div class="field">
                <label class="label">타입</label>
                <p>레드</p>
              </div>

              <div class="field">
                <label class="label">국가</label>
                <p>미국</p>
              </div>

              <div class="field">
                <label class="label">당도</label>
                <p>5</p>
              </div>

              <div class="field">
                <label class="label">산미</label>
                <p>2</p>
              </div>

              <div class="field">
                <label class="label">바디</label>
                <p>3</p>
              </div>

              <div class="field">
                <label class="label">생산 연도</label>
                <p>2009</p>
              </div>

              <div class="buttonBox">
                <button class="button is-fullwidth is-light m-1" id="bottomBtn" onclick="UpdateBtn()">수정</button>
                <button class="button is-fullwidth is-danger m-1" id="bottomBtn" onclick="DeleteBtn()">삭제</button>
              </div>
            </div><!--content-->
          </div><!--card-content-->

        </div><!--card-->

        <div class="card">
          <div class="card-header">
            <p class="card-header-title">이름</p>
          </div>

          <div class="card-content">
            <div class="content">
              <div class="field">
                <div class="imgDiv">
                  <img src="https://cdn.pixabay.com/photo/2018/01/12/09/45/glass-3077869_1280.jpg" id="photo">
                </div>
              </div>

              <div class="field">
                <label class="label">가격</label>
                <p>xxx,xxx원</p>
              </div>

              <div class="field">
                <label class="label">타입</label>
                <p>레드</p>
              </div>

              <div class="field">
                <label class="label">국가</label>
                <p>미국</p>
              </div>

              <div class="field">
                <label class="label">당도</label>
                <p>5</p>
              </div>

              <div class="field">
                <label class="label">산미</label>
                <p>2</p>
              </div>

              <div class="field">
                <label class="label">바디</label>
                <p>3</p>
              </div>

              <div class="field">
                <label class="label">생산 연도</label>
                <p>2009</p>
              </div>

              <div class="buttonBox">
                <button class="button is-fullwidth is-light m-1" id="bottomBtn" onclick="UpdateBtn()">수정</button>
                <button class="button is-fullwidth is-danger m-1" id="bottomBtn" onclick="DeleteBtn()">삭제</button>
              </div>
            </div><!--content-->
          </div><!--card-content-->

        </div><!--card2-->

        <div class="card">
          <div class="card-header">
            <p class="card-header-title">이름</p>
          </div>

          <div class="card-content">
            <div class="content">
              <div class="field">
                <div class="imgDiv">
                  <img src="https://cdn.pixabay.com/photo/2018/01/12/09/45/glass-3077869_1280.jpg" id="photo">
                </div>
              </div>

              <div class="field">
                <label class="label">가격</label>
                <p>xxx,xxx원</p>
              </div>

              <div class="field">
                <label class="label">타입</label>
                <p>레드</p>
              </div>

              <div class="field">
                <label class="label">국가</label>
                <p>미국</p>
              </div>

              <div class="field">
                <label class="label">당도</label>
                <p>5</p>
              </div>

              <div class="field">
                <label class="label">산미</label>
                <p>2</p>
              </div>

              <div class="field">
                <label class="label">바디</label>
                <p>3</p>
              </div>

              <div class="field">
                <label class="label">생산 연도</label>
                <p>2009</p>
              </div>

              <div class="buttonBox">
                <button class="button is-fullwidth is-light m-1" id="bottomBtn" onclick="UpdateBtn()">수정</button>
                <button class="button is-fullwidth is-danger m-1" id="bottomBtn" onclick="DeleteBtn()">삭제</button>
              </div>
            </div><!--content-->
          </div><!--card-content-->

        </div><!--card3-->

          

      </div><!--section-->
    </div><!--column is-10-->
        
  </section>
</body>

</html>