.columns {
    margin: 0 20px;
  }
  

  html, body {
    height: 100%;
    margin: 0;
    overflow-x: auto;
    overflow-y: auto;
    height: calc(100vh - 50px); /* 화면에서 상단 네비게이션의 높이를 제외한 나머지 영역을 사용합니다. */
  }


  .list{
    margin-top: 10px;
  }
  .fbutton{
    width: 200px; /* 너비를 조절할 크기로 설정합니다. */
}

  
  .button is-light{
    float: right;
}
.item-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; /* 각 항목 사이의 간격 조절 */
}
