<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WineHouse</title>
  <!-- bulma css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <!-- fontawesome icon -->
  <script src="https://kit.fontawesome.com/20edfc9a47.js" crossorigin="anonymous"></script>
  <!-- custom css, js -->
  <link rel="stylesheet" href="detail.css">
  <link rel="stylesheet" href="/stylesheets/global.css">
  <script src="detail.js" type="module" defer></script>
  <script src="/javascripts/global.js" type="module" defer></script>
</head>

<body>
  <!-- header -->
  <div id="header-container"></div>

  <div class="main">
    <div class="left">
      <img src="https://mblogthumb-phinf.pstatic.net/20160414_19/caa_korea_1460622208005wQzu3_JPEG/Duckhorn_Migration_Pinot_Noir_bottle.jpg?type=w800" id="photo">
    </div>

    <div class="right">
      <div class="detailDiv">
        <!--<div class="detailRow">
          <a id="detailFont">이름</a>
          <a id="data-name"></a>
        </div>
        <div class="detailRow">
          <a id="detailFont">가격</a>
          <a id="data-price"></a>
        </div>
        <hr class="hr">
        <div class="detailRow" id="quantity">
          <a id="detailFont">수량</a>
          <div>
            <button id="minus" class="quantityBtn">-</button>
            <a id='result'>1</a>
            <button id="plus" class="quantityBtn">+</button>
          </div>
        </div>
        <div class="detailRow">
          <a id="detailFont">총가격</a>
          <a id="data-totalPrice"></a>
        </div>-->
        <div class="buttonDiv">
          <button class="button is-light is-fullwidth mt-5" id="cartBtn">장바구니</button>
          <button class="button is-primary is-fullwidth mt-5" id="payBtn">결제하기</button>
        </div>
      </div>
    </div>

  </div>

  <!-- footer -->
  <div id="footer-container"></div>
</body>

</html>