<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WineHouse</title>
  <!-- bulma css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <!-- fontawesome icon -->
  <script src="https://kit.fontawesome.com/20edfc9a47.js" crossorigin="anonymous"></script>
  <!-- custom css, js -->
  <link rel="stylesheet" href="detail.css">
  <link rel="stylesheet" href="/stylesheets/global.css">
  <script src="detail.js" type="module" defer></script>
  <script src="/javascripts/global.js" type="module" defer></script>
</head>

<body>
  <!-- header -->
  <nav class="navbar has-shadow">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/images/winehouse_logo.png" alt="winehouse-logo">
      </a>

      <a class="navbar-burger" id="burger">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>

    <div class="navbar-menu" id="nav-links">
      <div class="navbar-start ml-2">
        <a class="navbar-item">레드</a>
        <a class="navbar-item">화이트</a>
        <a class="navbar-item">로제</a>
        <a class="navbar-item">스파클링</a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <i class="fa-solid fa-cart-shopping icon"></i>
            <a class="button is-light"><strong>로그인</strong></a>
          </div>
        </div>
      </div>

    </div>
  </nav>

  <div class="main">
    <div class="left">
      <img src="https://cdn.pixabay.com/photo/2018/01/12/09/45/glass-3077869_1280.jpg" id="photo">
    </div>

    <div class="right">
      <div class="detailDiv">
        <div class="detailRow">
          <a id="detailFont">이름</a>
        </div>
        <div class="detailRow">
          <a id="detailFont">가격</a>
        </div>
        <hr>
        <div class="detailRow" id="quantity">
          <a id="detailFont">수량</a>
          <div>
            <input type='button' onclick='count("minus")' value='-' id="quantityBtn" />
            <a id='result'>0</a>
            <input type='button' onclick='count("plus")' value='+' id="quantityBtn" />
          </div>
        </div>
        <div class="detailRow">
          <a id="detailFont">총가격</a>
        </div>
        <div class="buttonDiv">
          <input type="button" id="cartBtn" value="장바구니" onclick='cartBtn()'>
          <input type="button" id="payBtn" value="   결제   " onclick='payBtn()'>
        </div>
      </div>
    </div>

  </div>


  <footer class="footer">
    <div class="footer-container">
      <div class="company-name">
        <p>WineHouse</p>
      </div>
      <div class="company-info">
        <p class="info-title">회사 정보</p>
        <p>(주)WineHouse | 대표 엘리스</p>
        <p>서울특별시 강남구 선릉로 433, 신관 6층</p>
      </div>
      <div class="customer-service">
        <p class="info-title">고객 센터</p>
        <p>070-4633-2017</p>
        <p>OPEN 10:00-18:00(BREAK 12:00-13:00)</p>
      </div>
    </div>
  </footer>
</body>

</html>