<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WineHouse</title>
  <!-- bulma css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <!-- fontawesome icon -->
  <script src="https://kit.fontawesome.com/20edfc9a47.js" crossorigin="anonymous"></script>
  <!-- custom css, js -->
  <link rel="stylesheet" href="home.css">
  <link rel="stylesheet" href="/stylesheets/global.css">
  <script src="home.js" type="module" defer></script>
  <script src="/javascripts/global.js" type="module" defer></script>
</head>
<body>
  <!-- header -->
  <div id="header-container"></div>
  
  <!-- banner -->
  <section class="hero">
    <img src="/images/wine_img.jpg" alt="banner_img">
  </section>
  
  <!-- recently products -->
  <div class="inner">
    <div class="recently-products">
      <p>최근 입고된 상품</p>
    </div>
    <div class="photo-container">
      <a href="/detail">
        <img src="https://cdn.pixabay.com/photo/2013/07/12/16/28/wine-150955_1280.png" alt="Wine image">
      </a>
      <a href="/detail">
        <img src="https://cdn.pixabay.com/photo/2013/07/12/13/21/champagne-146885_1280.png" alt="Wine image">
      </a>
      <a href="/detail">
        <img src="https://cdn.pixabay.com/photo/2018/02/25/11/17/wine-3180220_1280.jpg" alt="Wine image">
      </a>
      <a href="/detail">
        <img src="https://cdn.pixabay.com/photo/2013/07/12/16/28/wine-150955_1280.png" alt="Wine image">
      </a>
      <a href="/detail">
        <img src="https://cdn.pixabay.com/photo/2013/07/12/16/28/wine-150955_1280.png" alt="Wine image">
      </a>
    </div>
  </div>

  <!-- footer -->
  <div id="footer-container"></div>
</body>
</html>