<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WineHouse</title>
  <!-- bulma css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <!-- fontawesome icon -->
  <script src="https://kit.fontawesome.com/20edfc9a47.js" crossorigin="anonymous"></script>
  <!-- custom css, js -->
  <link rel="stylesheet" href="home.css">
  <link rel="stylesheet" href="/stylesheets/global.css">
  <script src="home.js" type="module" defer></script>
  <script src="/javascripts/global.js" type="module" defer></script>
</head>
<body>
  <!-- header -->
  <div id="header-container"></div>
  
  <!-- banner -->
  <section class="hero">
    <img src="/images/wine_img.jpg" alt="banner_img">
  </section>
  
  <!-- recently products -->
  <div class="inner">
    <p class="recently-title"><i class="fa-solid fa-wine-glass"></i> 최근 입고된 상품</p>
    <div class="recently-container">
      <!-- 상품 출력 -->
      <!-- <div class="products-container"></div> -->
    </div>
  </div>

  <!-- footer -->
  <div id="footer-container"></div>
</body>
</html>
