<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WineHouse</title>
  <!-- bulma css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <!-- fontawesome icon -->
  <script src="https://kit.fontawesome.com/20edfc9a47.js" crossorigin="anonymous"></script>
  <!-- custom css, js -->
  <link rel="stylesheet" href="login.css">
  <link rel="stylesheet" href="/stylesheets/global.css">
  <script type="text/javascript" src="login.js"></script>
  <script src="/javascripts/global.js" type="module" defer></script>
</head>
<body>
<div class="main">
  <div class="Login">
    <p class="title">로그인</p>
    <form class="box">
        <div class="field">
            <label class="label">이메일</label>
            <div class="control">
                <input class="input" type="email" placeholder="이메일을 입력해주세요">
            </div>
        </div>

        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input class="input" type="password" placeholder="********">
            </div>
        </div>

        <div class="buttonBox">
            <input type="button" class="loginBtn" value="로그인" onclick="Login()">
        </div>
        <div class="registerText">
            <p>회원이 아니신가요? <a href="http://localhost:4000/account/">회원가입</a></p>
        </div>
    </form>
  </div>
</div>
</body>
</html>

<!-- footer -->
<footer class="footer">
    <div class="footer-container">
      <div class="company-name">
        <p>WineHouse</p>
      </div>
      <div class="company-info">
        <p class="info-title">회사 정보</p>
        <p>(주)WineHouse | 대표 엘리스</p>
        <p>서울특별시 강남구 선릉로 433, 신관 6층</p>
      </div>
      <div class="customer-service">
        <p class="info-title">고객 센터</p>
        <p>070-4633-2017</p>
        <p>OPEN 10:00-18:00(BREAK 12:00-13:00)</p>
      </div>
    </div>
  </footer>
  </body>
  </html>
  