/* common */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  * {
    font-family: 'GmarketSansMedium';
  }
  
  html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  /* main */
  .main {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
  }
  
  .box {
    width: 700px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .title {
    color:#af66aa;
    margin: 20px;
    text-align: center;
  }
  

  .buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons.are-medium{
    margin: 0 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

  
  .managerLogin {
    display: flex;
    flex-direction: column;
  }
  
  .column {
    display: flex;
  
  }
  
  .main1 {
    display: flex;
  }
  
  .registerText {
    text-align: center;
    margin-top: 10px; 
  }

  .registerText a {
    color: #af66aa;
  }