<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WineHouse</title>
  <!-- bulma css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <!-- fontawesome icon -->
  <script src="https://kit.fontawesome.com/20edfc9a47.js" crossorigin="anonymous"></script>
  <!-- custom css, js -->
  <link rel="stylesheet" href="cart.css">
  <link rel="stylesheet" href="/stylesheets/global.css">
  <script src="cart.js"></script>
  <script src="/javascripts/global.js" type="module" defer></script>
</head>
<body>
  <!-- header -->
  <nav class="navbar has-shadow">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/images/winehouse_logo.png" alt="winehouse-logo">
      </a>

      <a class="navbar-burger" id="burger">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>

    <div class="navbar-menu" id="nav-links">
      <div class="navbar-start ml-2">
        <a class="navbar-item" href="/list">레드</a>
        <a class="navbar-item" href="/list">화이트</a>
        <a class="navbar-item" href="/list">로제</a>
        <a class="navbar-item" href="/list">스파클링</a>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="cart-icon" href="/cart">
              <i class="fa-solid fa-cart-shopping"></i>
            </a>
            <a class="button is-light" href="/login"><strong>로그인</strong></a>
          </div>
        </div>
      </div>

    </div>
  </nav>
  
  <!-- main -->
  <div class="section m-6 is-justify-content-center">
    <div class="cart-title">
      <i class="fa-solid fa-cart-shopping"></i><p>장바구니</p>
    </div>

    <div class="card mb-5">
      <div class="card-content">
        <div class="content">
          <div class="is-flex is-align-items-center">
            <label class="checkbox">
              <input type="checkbox">
            </label>

            <div class="product-image m-2">
              <img src="https://cdn.pixabay.com/photo/2018/02/25/11/17/wine-3180220_1280.jpg" alt="Product Image" />
            </div>

            <div class="product-info">
              <div class="product-name">
                <p>와인</p>
              </div>
              <div class="product-price">
                <p>xxx,xxx원</p>
              </div>
            </div>
          </div>

          <div class="count-button">
            <input type='button' onclick='count("minus", 1)' value='-' id="quantityBtnMinus" />
            <a id='result'>1</a>
            <input type='button' onclick='count("plus", 1)' value='+' id="quantityBtnPlus" />
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-5">
      <div class="card-content">
        <div class="content">
          <div class="is-flex is-align-items-center">
            <label class="checkbox">
              <input type="checkbox">
            </label>

            <div class="product-image m-2">
              <img src="https://cdn.pixabay.com/photo/2018/02/25/11/17/wine-3180220_1280.jpg" alt="Product Image" />
            </div>

            <div class="product-info">
              <div class="product-name">
                <p>와인</p>
              </div>
              <div class="product-price">
                <p>xxx,xxx원</p>
              </div>
            </div>
          </div>

          <div class="count-button">
            <input type='button' onclick='count("minus", 2)' value='-' id="quantityBtnMinus" />
            <a id='result'>1</a>
            <input type='button' onclick='count("plus", 2)' value='+' id="quantityBtnPlus" />
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="delete-button">
      <button class="button is-light">선택 삭제</button>
      <button class="button is-light">전체 삭제</button>
    </div>

    <div class="price-info">
      <p>총 상품 금액</p> +
      <p>배송비</p> =
      <p>총 결제 금액</p>
    </div>

    <button class="button is-primary is-fullwidth mt-5">xxx,xxx원 결제하기</button>
    
  </div>

  <!-- footer -->
  <footer class="footer">
    <div class="footer-container">
      <div class="company-name">
        <p>WineHouse</p>
      </div>
      <div class="company-info">
        <p class="info-title">회사 정보</p>
        <p>(주)WineHouse | 대표 엘리스</p>
        <p>서울특별시 강남구 선릉로 433, 신관 6층</p>
      </div>
      <div class="customer-service">
        <p class="info-title">고객 센터</p>
        <p>070-4633-2017</p>
        <p>OPEN 10:00-18:00(BREAK 12:00-13:00)</p>
      </div>
    </div>
  </footer>
</body>
</html>
