.cart-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 2rem;
  color: #af66aa;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-image {
  width: 100px;
  height: 140px;
  padding: 5px;
  background-color: #fafafa;
  border: 1px solid #dcdcdc;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-name, .product-price {
  display: flex;
  align-items: center;
}

.quantity-minus-btn, .quantity-plus-btn {
  border-style: none;
  cursor: pointer;
}

.delete-button {
  display: flex;
  justify-content: space-between;
}

.price-info {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}
